[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
flask = "*"
sslyze = "*"
supervisor = "*"
requests = "*"
pymongo = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
